{{#each shelters}}
<div class="container">
  <h2 class="text-left"><a href="/shelters/{{.id}}">{{name}}</a></h2>
  <p class="text-left">{{address.street}}</p>
  <p class="text-left">{{address.city}}</p>
  <p class="text-left">{{address.state}}</p>
  <p class="text-left">{{address.zipCode}}</p>
  <ul>
    {{#each animals}}
    <a href="/{{../fosters}}/{{foster._id}}">
      {{name}}
    </a>
    {{/each}}
  </ul>
</div>
{{/each}}

<div class="panel-footer row text-center justify-content-center">
  <div class="col-xs-6 text-center">
    <a href="/shelters/new" class="action-btn btn btn-primary butn-leg button">Create a new shelter</a>
  </div>
</div>