<div class="card card-center" style="width: 30vw">
  <div class="card-body">
    <h5 class="card-title">{{shelter.name}}</h5>
    <p class="card-text">Street: {{shelter.address.street}}</p>
    <p class="card-text">City: {{shelter.address.city}}</p>
    <p class="card-text">State: {{shelter.address.state}}</p>
    <p class="card-text">Zip: {{shelter.address.zipCode}}</p>
    <p class="text-left">Phone Number: {{shelter.phoneNumber}}</p>
    <ul>
      {{#each shelter.animals}}
      <a href="/{{../fosters}}/{{foster._id}}">
        {{name}}
      </a>
      {{/each}}
    </ul>
  </div>
</div>
<div class="panel-footer row text-center justify-content-center">
  <div class="col-xs-6 text-center">
    <form class="delete-form" action="/{{shelter.id}}?_method=DELETE" method="POST">
      <input class="action-btn btn btn-danger btn-lg button" type="submit" value="DELETE">
    </form>
  </div>