<div class="card card-center" style="width: 50%">
  <div class="card-body">
    <h5 class="card-title">{{shelter.name}}</h5>
    <p class="card-text">Street: {{shelter.address.street}}</p>
    <p class="card-text">City: {{shelter.address.city}}</p>
    <p class="card-text">State: {{shelter.address.state}}</p>
    <p class="card-text">Zip: {{shelter.address.zipCode}}</p>
    <p class="text-left">Phone Number: {{shelter.phoneNumber}}</p>
    <h5 class="text-left foster-title">Current Fosters:</h5>
    <ul class="foster-list">
      {{#each shelter.animals}}
      <li class="foster-list-item"><a href="/fosters/{{id}}">{{name}}</a></li>
      {{/each}}
    </ul>
  </div>
</div>

<form action="/shelters/{{shelter._id}}" method="POST">
  <div class="form-group foster-drop">
    <label class="input-text" for="animals">New Foster</label>
    <select id="addPetId" class="custom-select" type="text" name="animals" id="animals">
      <option>Open this select menu</option>
      {{#each fosters}}
      <option value="{{id}}">{{name}}</option>
      {{/each}}
    </select>
  </div>
  <div class="text-center">
    <input class="btn btn-info foster-drop-submit" type="submit" value="SUBMIT">
  </div>
</form>
<div class="panel-footer row text-center justify-content-center footer-area">
  <div class="col-xs-6 text-center">
    <form class="delete-form" action="/shelters/{{shelter.id}}?_method=DELETE" method="POST">
      <input class="action-btn btn btn-danger btn-lg button" type="submit" value="DELETE SHELTER">
    </form>
  </div>
</div>