{{#each fosters}}
<div class="container">
  <div class="row foster-card">
    <div class="card col-sm-6 col-lg-6" style="width: 75%;">
      <img src="{{petImg}}" class="card-img-top" alt="foster animal">
      <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">Breed: {{breed}}</p>
        <p class="card-text">Gender: {{gender}}</p>
        <p class="card-text">Age: {{age}}</p>
        <p class="card-text">Size: {{size}}</p>
        <p class="card-text">Adoption Fee: {{adoptionFee}}</p>
      </div>
      <div class="card-footer button-center">
        <a class="btn btn-primary" href='fosters/{{id}}'>Click to learn more!</a> </div>
    </div>
  </div>

</div>
{{/each}}
<div class="panel-footer row text-center justify-content-center">
  <div class="col-xs-6 text-center">
    <a href="/fosters/new" id="add-foster" class="action-btn btn btn-primary butn-leg button">Add a new foster</a>
  </div>
</div>